In [58]:
import pandas as pd
import numpy as np

In [59]:
school_data_to_load = "Desktop/schools_complete.csv"
student_data_to_load = "Desktop/students_complete.csv"

In [60]:
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [61]:
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [62]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [63]:
total_schools = school_data_complete['school_name'].nunique()

In [64]:
total_schools

15

In [65]:
student_count = school_data_complete['student_name'].count()

In [66]:
student_count

39170

In [67]:
total_budget = school_data['budget'].sum()

In [68]:
total_budget

24649428

In [69]:
avg_math_score = school_data_complete['math_score'].mean()

In [70]:
avg_math_score

78.98537145774827

In [71]:
avg_reading_score = school_data_complete['reading_score'].mean()

In [72]:
avg_reading_score

81.87784018381414

In [73]:
overall_avg_score = (avg_math_score + avg_reading_score) / 2

In [74]:
overall_avg_score

80.43160582078121

In [75]:
pass_math = school_data_complete['math_score'][school_data_complete['math_score']>= 70].count()

In [76]:
pass_math

29370

In [77]:
pass_math_perc = pass_math / student_count * 100

In [78]:
pass_math_perc

74.9808526933878

In [79]:
pass_reading = school_data_complete['reading_score'][school_data_complete['reading_score']>= 70].count()

In [80]:
pass_reading

33610

In [81]:
pass_reading_perc = pass_reading / student_count * 100

In [82]:
pass_reading_perc

85.80546336482001

In [83]:
district_summary = pd.DataFrame ({"Total Schools": [total_schools], "Total Students": [student_count], \
                                  "Total Budget": [total_budget], "Average Math Score": [avg_math_score], \
                                  "Average Reading Score": [avg_reading_score], "% Passing Math": [pass_math_perc], \
                                  " % Passing Reading": [pass_reading_perc], "% Overall Passing Rate": [overall_avg_score]})

In [84]:
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

In [85]:
school_summary = school_data[["school_name", "type", "size", "budget"]]   
school_summary.head()

             school_name      type  size   budget
0      Huang High School  District  2917  1910635
1   Figueroa High School  District  2949  1884411
2    Shelton High School   Charter  1761  1056600
3  Hernandez High School  District  4635  3022020
4    Griffin High School   Charter  1468   917500

In [97]:
per_student_budget = school_summary["budget"] / school_summary["size"]
school_summary["Per Student Budget"] = per_student_budget
school_summary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
school_name           15 non-null object
type                  15 non-null object
size                  15 non-null int64
budget                15 non-null int64
Per Student Budget    15 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 680.0+ bytes

In [87]:
grouped_student_data = student_data.groupby(['school_name'])
grouped_student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
2917,2917,Amy Jacobs,F,10th,Figueroa High School,85,87
2918,2918,Nathan Campbell,M,12th,Figueroa High School,97,84
2919,2919,Randall Stewart,M,12th,Figueroa High School,67,77
2920,2920,Jennifer Brown,F,9th,Figueroa High School,97,64
2921,2921,Denise Lopez,F,10th,Figueroa High School,79,64
5866,5866,Jamie Montgomery,F,12th,Shelton High School,70,91
5867,5867,Shannon Phillips,F,10th,Shelton High School,84,71
5868,5868,Todd Barber,M,11th,Shelton High School,95,99
5869,5869,Desiree King,F,12th,Shelton High School,76,95
5870,5870,Melissa Roberts,F,10th,Shelton High School,71,82
7627,7627,Russell Davis,M,10th,Hernandez High School,70,88
7628,7628,Timothy Walker,M,12th,Hernandez High School,97,93
7629,7629,Katie Johnston,F,12th,Hernandez High School,83,81
7630,7630,Joann Oconnell,F,12th,Hernandez High School,77,91
7631,7631,Sarah Alexander,F,10th,Hernandez High School,84,93
12262,12262,Heather Wright,F,11th,Griffin High School,79,68
12263,12263,Elizabeth Goodwin,F,10th,Griffin High School,91,81
12264,12264,Michelle Wong,F,9th,Griffin High School,78,89
12265,12265,Scott Roth MD,M,11th,Griffin High School,91,85
12266,12266,Billy Wilson,M,12th,Griffin High School,76,83
13730,13730,Kelli Anderson,F,10th,Wilson High School,84,71
13731,13731,Russell Ramirez,M,10th,Wilson High School,72,87
13732,13732,Eric Butler,M,10th,Wilson High School,97,82
13733,13733,Warren Kerr,M,11th,Wilson High School,93,68
13734,13734,Gail Hall,F,9th,Wilson High School,79,72
...,...,...,...,...,...,...,...
23274,23274,Alec Davis,M,9th,Pena High School,91,75
23275,23275,Michael Meyer,M,10th,Pena High School,94,76
23276,23276,Donald Gutierrez,M,11th,Pena High School,98,91
23277,23277,Travis Chavez,M,11th,Pena High School,78,71
23278,23278,Sheena Ball,F,12th,Pena High School,87,92
24236,24236,Aaron Johnson,M,10th,Wright High School,89,72
24237,24237,Kimberly Hamilton,F,10th,Wright High School,84,93
24238,24238,Ashley Johns,F,10th,Wright High School,88,88
24239,24239,Stephanie Donovan,F,10th,Wright High School,75,84
24240,24240,Cynthia Guzman,F,11th,Wright High School,93,82
26036,26036,Sherry Jenkins,F,11th,Rodriguez High School,74,81
26037,26037,Kimberly Calderon,F,10th,Rodriguez High School,80,86
26038,26038,William Brady,M,11th,Rodriguez High School,97,62
26039,26039,Jacob Padilla,M,11th,Rodriguez High School,79,73
26040,26040,Paula Maldonado,F,10th,Rodriguez High School,96,92
30035,30035,Lisa Casey,F,12th,Johnson High School,87,87
30036,30036,Jessica Lopez,F,9th,Johnson High School,98,62
30037,30037,Anna Wilkins,F,11th,Johnson High School,89,77
30038,30038,Andrew Smith,M,9th,Johnson High School,66,85
30039,30039,Robert Allison,M,11th,Johnson High School,63,85
34796,34796,Michael Mercado,M,9th,Ford High School,66,94
34797,34797,Stephen Wolf,M,11th,Ford High School,68,63
34798,34798,Bonnie Hughes,F,12th,Ford High School,73,59
34799,34799,Melissa Smith,F,11th,Ford High School,88,58
34800,34800,Brian Mitchell,M,10th,Ford High School,96,55
37535,37535,Norma Mata,F,10th,Thomas High School,76,76
37536,37536,Cody Miller,M,11th,Thomas High School,84,82
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76

In [88]:
avg_math_score_1 = grouped_student_data["math_score"].mean()
avg_math_score_1.head()

school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Name: math_score, dtype: float64

In [89]:
avg_read_score_1 = grouped_student_data["reading_score"].mean()
avg_read_score_1.head()

school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [117]:
passing_math_1 = grouped_student_data["math_score"][grouped_student_data["math_score"] >= 70].count()

TypeError: '>=' not supported between instances of 'SeriesGroupBy' and 'int'

In [111]:
passing_math_1

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
30,30,Bobby Harris,M,9th,Huang High School,94,99,0,District,2917,1910635
32,32,Candace Phelps,F,11th,Huang High School,93,90,0,District,2917,1910635
34,34,Steven Green,M,11th,Huang High School,65,74,0,District,2917,1910635
36,36,Kevin Bailey,M,10th,Huang High School,76,76,0,District,2917,1910635
38,38,Kimberly Mercado,F,12th,Huang High School,73,77,0,District,2917,1910635
41,41,Jennifer Parks,F,11th,Huang High School,85,95,0,District,2917,1910635
42,42,John Carlson,M,9th,Huang High School,65,89,0,District,2917,1910635
43,43,Megan Roberts,F,9th,Huang High School,66,90,0,District,2917,1910635
45,45,Heidi Jackson,F,11th,Huang High School,64,93,0,District,2917,1910635
47,47,Ellen Brown,F,11th,Huang High School,77,81,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [109]:
pass_math_perc_1 = passing_math_1 / school_summary["size"] * 100

/Users/vlad/anaconda3/envs/pythondata/lib/python3.6/site-packages/pandas/core/indexes/base.py:3772: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  return this.join(other, how=how, return_indexers=return_indexers)

ValueError: operands could not be broadcast together with shapes (146850,) (5,)